*{
	font-family: Calibri,Arial,Helvetica,Sans-Serif;
	margin:0px;
	padding:0px;
}

body{
	margin: 33px 0;
}

#navbar{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:37px;
	padding:1px;
	min-width:700px;
	background-image:-moz-linear-gradient(90deg, #111, #555);
	/*background-image:-webkit-linear-gradient(90deg, #111, #666);*/
	background-color:#444;
	box-shadow:0 0 19px -3px #000;
}

#header{
	text-align: center;
}

#main{
	width:700px;
	margin:0 auto;
}
.style{
	color:#ccc;
	padding:13px;
	margin:10px 0;
	background-color:#444;
	background-image: linear-gradient(0deg, #111 0%, #444 100%);
	box-shadow: 2px 2px 19px 3px #666;
	border-radius:7px;
	z-index:9999;
}

h1{
	font-size:250%;
}

div.toggle h2{
	font-size:150%;
	cursor:pointer;
	text-shadow:1px 2px 5px #111;
}

div.toggle h3{
	cursor:pointer;
	text-shadow:1px 2px 5px #111;
}

div.toggle h4{
	cursor:pointer;
	text-shadow:1px 2px 5px #111;
}

div.toggle div{
	display:none;
}

.button{
	padding:5px;
	font-size:90%;
	background-color:#444;
	background-image: linear-gradient(0deg, #111, #444);
	color: #ccc;
	border: 1px solid #333;
	border-radius: 2px;
	margin: 1px;
	cursor: pointer;
	display:inline-block;
}

.button:hover{
	background-color:#666;
	background-image: linear-gradient(0deg, #333, #666);
	box-shadow:inset 0 0 6px 0 #000;
}

.button:active{
	background-color:#666;
	background-image: linear-gradient(0deg, #666 0%, #333 100%);
	box-shadow:inset 0 0 3px 0 #000;
}

h2 + .content,h3 + .content{
	/*margin: 5px 0 15px 10px;*/
	box-shadow:inset 0 0 5px 2px #111;
	border-radius:7px;
	padding: 7px;
}

h4 + .content{
	font-size:95%;
}

.content{
	background-color:#333;
}

h2 + .content > p,h3 + .content > p{
	padding: 5px;
	background-color:#333;
	border-radius:7px;
	box-shadow:0 0 3px 1px #111;
}

h4 + .content > p{
	margin-top:5px;
}

a{
	text-decoration: none;
}

.collapseall {
}

.header {
}
